{% set my_var = 2 -%} {# put -%} to tell parser to not insert an extra empty line.#}
{% set my_var2 = True -%} 
{% set my_var3 = False -%} 

{{ __tera_context}} {# magic variable, print the context #}

{{ my_var ~ " hello " ~ 'world' ~ `!` }}
{{ my_var+3 }} {#normal math operations supported including %, not exponent though #}
{{ my_var not in [1, 3] }} 
I want my value to be: {{ value }} {# assign in context #}
{{ my_var3 }} {{ my_var2 }}
{{ my_var3 == my_var2 }} 
{{ my_var3 != my_var2 }} 
{{ my_var3 or my_var2 }} 
YEEEEEEET
{{ "ABC" | lower | replace(from="a", to="A") }} {# -> Abc ; find other functions at: #}
{% filter upper -%} {# use block filters #}Hello {# -> HELLO #} {% endfilter -%}
{% filter upper %} {# also can make blocks like so #}
{% block content_to_be_upper_cased -%} upper-cased {% endblock content_to_be_upper_cased -%} 
{% endfilter -%}
